
/*
.contain {
    position: relative;
    height: 85vh;
    min-width: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.lside,.rside,.content,.contain {
        height: 85vh;
        text-align: center;

}

.lside {
    border: 2px solid black;
    border-radius: 10px 10px 10px 10px;

    order: 1;
    flex: 400px 0 0;
    background: #fff0b6;
}

.rside {
    border: 2px solid black;
    border-radius: 10px 10px 10px 10px;
    
    order: 3;
    flex: 400px 0 0;
    background: rgb(213, 240, 255);
}
.rside a:hover{
    color: #3fa9ff;
      border-bottom: 2px solid #00acfd;

} 
*/
.content {
    order: 2;
    flex: auto 1 0 ;
    color:black;
}

#wrapper {
    margin-left: 100px;
    width: 846px;
    height:500px;
    border: 2px solid black;
    margin: auto;
    overflow: auto;
    background: white;
}


.wrapper input {
    width: 50px;
    height: 20px;
}

.wrapper button {
    width: 50px;
    height: 20px;
}
     .import {
        margin: 0px 205px;
    }

    .content input {
        width: 200px;
        height: 30px;
    }

    button {
        width: 90px;
        height: 30px;
    }
    #wrapper img{
        height:100px;
        width: 100px;
        border-radius: 50%;
    }
