* {
    margin:0px;
    padding:0px;  
    text-decoration: none;
    list-style: none;
  }

  /* 定义全局变量 */  
:root {  
    --main-color: #00a4ff;  
    --text-color: #030303;  
    --header-height: 42px;  
    --banner-height: 421px;  
    --banner-bg-color: #4ff768;  
}  

  .main {
    width: 1650px;
    /*调整大小*/
    margin: auto;
}
   
  .body {
      background-color: #f3f5f7;
  }
  .w {
      width: 1200px;
      margin: 10px auto;
      font-size: 20px;
      text-align: center;
  }
   
  /* 清除浮动代码 */
  .clearfix::after {  
    content: "";  
    display: table;  
    clear: both;  
}  
   
  li{
     list-style: none; 
  }
  a {  
    text-decoration: none;  
    color: var(--text-color);  
    transition: color 0.3s ease; /* 平滑过渡效果 */  
}  
  
a:hover {  
    color: var(--main-color);  
}  
  /*下面是各个区域的分工*/
  /* 头部区域的样式 */
  .header {
    height: var(--header-height);
      background: #84c9fd;
      border-radius: 10px 10px 10px 10px;
      
  }
   
  /* logo部分 */
  .logo {
    float: left;
    width: 50px;
    height:50px;
}

  .logo img{
      width: 85%;
      height:85%;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.6s;
  }
  .logo img:hover{
    transform: scale(1.2);
  }
   
  /* 导航栏部分 */
  .nav ul{  
    float: left;  
    margin-left: 80px;  
}  
  
.nav li {  
    display: inline-block;  
    height: var(--header-height);  
    padding: 0 10px;  
    line-height: var(--header-height);  
    color: #050505;  
    font-size: 18px;  
}  
   /* 伪类设置 */
   .nav li a:hover {
      color: #3fa9ff;
      border-bottom: 2px solid var(--main-color); 
   }
   
   /* 搜索框样式 */
  .search {
      float: left; 
      margin-left:80px;
  }
  /* 搜索框 */
  .search input {
    float: left;  
    width: 400px;  
    height: 40px;  
    color: #1bc4fd;  
    padding-left: 15px;  
    border: 1px solid var(--main-color);  
  }
  /* 按钮 */
  button {
    width: 60px;  
    height: 42px;  
    background-color: var(--main-color);; /* 假设的按钮背景色 */  
    color: white; /* 假设的按钮文字颜色 */  
    border: none; /* 移除默认的边框 */  
    cursor: pointer; /* 鼠标悬停时变为手形图标 */  
  }
   
  /* 用户区域 */
  .user {
       float: right; 
       margin-right:10px;
       border-radius: 50%
  }

  .user a{
    text-align: center;
    font-size: 20px;
  }

  .user a:hover{
    color: var(--main-color);
  }
  .user img{
    cursor: pointer;
transition: all 0.6s;
border-radius: 50%;
border-color:#000 ;
  }

  .user img:hover{
    transform: scale(1.2);
  }
   
  /* banner部分样式 */
  .banner {
    height: var(--banner-height);  
    background-color:#90EE90; 
    border-radius: 40px 40px 40px 40px;
  }
    
  /* 背景图片 */
  .banner .w {
    height: var(--banner-height);  
    background: url(./img/index2.1.png) no-repeat top center; 
  }
   
  /* 左侧导航栏部分 */
  .subnav {
      float:left;
      width: 190px;
      height: 421px;
      background-color:var(--banner-color);
  }
  .subnav ul li a {
      float:left;
      line-height: 45px;
      color: #000000;
      font-size:14px;
      padding:0 20px;
  }
   
  .subnav ul li span { 
      float:right;
      line-height: 45px;
      color: #fff;
      padding-right:20px;
  } 
  .subnav a:hover{
    color: var(--main-color);  
  }
    
  /* 右侧用户区部分
  .course {
      float:right;
      width: 230px;
      height: 300px;
      margin-top:50px;
      background-color: #fff;
  } */
   
   
  .bd {
      padding:0 20px;
  }
  .course h3 {
      height:48px;
      line-height:48px;
      font-weight:400;
      color:#fff;
      text-align:center;
      background-color: #6bc0ee;
  }
   
  .course ul li {
      border-bottom: 1px solid #a5a5a5;
      padding:14px 0;
  }
   
  .course ul li h4 {
      font-size:20px;
      color: #4e4e4e;
  }
   
  .course ul li p {
      font-size:14px;
      color:#a5a5a5;
  }
   
  .more {
      display: block;
      height:38px;
      line-height: 38px;
      text-align:center;
      color:#42aaff;
      font-size:20px;
      font-weight: 700;
      border: 1px solid #00a4ff;
      margin:5px;
      border-radius: 10px 10px 10px 10px;
  }
   
  .more:hover{
    color:red;
  }
  /* 精品推荐部分 */
  .goods {
      height: 60px;  
  background-color: #fff;  
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.1);  
  margin-top: 10px; 
  display: flex; /* 使用Flexbox进行布局 */  
  align-items: center; /* 垂直居中对齐子元素 */  
  border-radius: 20px 20px 20px 20px;
  }
   
  /* 标题部分 */
  .goods h3 { 
    margin-left: auto;
    font-size: 16px;  
    color: #00a4ff;  
  }
   
  /* 精品导航栏部分 */
  .goods ul {  
    display: flex;
    margin-left: 100px;  
    align-items: center; /* 垂直居中对齐 */  
  }
   
  .goods ul li {
    display: inline-block;  
  }
  .goods ul li a {
    padding: 0 40px;  
    font-size: 16px;  
    color: #050505;  
    border-left: 1px solid #cccccc;  
    text-decoration: none; /* 添加移除下划线 */  
  }

  .goods ul li a:hover {
    color: #3fa9ff;  
 }
   
   
  .mod {
    margin-left: 50px;
         float:right;
         line-height: 60px;
         font-size: 16px;
         color:#00a4ff;
         padding-right:30px;
  } 
   
 
/*欢迎来到觅林  */
      
/*    .con {
        height:130px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform: rotateX(25deg) rotateY(-25deg);
        margin: auto;
        border-radius: 10px 10px 10px 10px;
        background-color: white;
    } 
    */
    /*
    .con p {
        text-align: center;
        display: block;
        font-size: 10vh;
        letter-spacing: 0.1em;
        max-height: 10vh;
        margin-bottom: 50px;
    }  
    
    @keyframes pulsea {
        0% {
            text-shadow: 0 0 0.3em rgba(200, 200, 255, 0.3), 0.04em 0.04em 0 white,
                0.045em 0.045em 0 #88e, 0.09em 0.09em 0 white, 0.095em 0.095em 0 #66c,
                0.14em 0.14em 0 white, 0.145em 0.145em 0 #aaf;
        }
        50% {
            text-shadow: 0 0 0.3em rgba(200, 200, 255, 0.3), 0.04em 0.04em 0 white,
                0.045em 0.045em 0 #88e, 0.09em 0.09em 0 white, 0.095em 0.095em 0 #aaf,
                0.14em 0.14em 0 white, 0.145em 0.145em 0 #44a;
        }
        75% {
            text-shadow: 0 0 0.3em rgba(200, 200, 255, 0.3), 0.04em 0.04em 0 white,
                0.045em 0.045em 0 #aaf, 0.09em 0.09em 0 white, 0.095em 0.095em 0 #66c,
                0.14em 0.14em 0 white, 0.145em 0.145em 0 #44a;
        }
        100% {
            text-shadow: 0 0 0.3em rgba(200, 200, 255, 0.4), 0.04em 0.04em 0 white,
                0.045em 0.045em 0 #88e, 0.09em 0.09em 0 white, 0.095em 0.095em 0 #66c,
                0.14em 0.14em 0 white, 0.145em 0.145em 0 #44a;
        }
    }
   
  .con p {  
      position: relative;  
      font-size: 10vh;  
      font-weight: bold;  
      background: #fff;  
      color: #000;  
      overflow: hidden;  
  }  
    
  .con p::before,  
  .con p::after {  
      content: "";  
      position: absolute;  
      top: -923px;  
      left: 50%;  
      width: 2000px;  
      height: 2000px;  
      border-radius: 45% 48% 43% 47%;  
      transform: translate(-50%, -50%);  
      background: rgba(3, 169, 244, .85);;  
      animation: rotate 10s infinite linear;  
      z-index: 1;  
      mix-blend-mode: lighten;  
  }  
    
  .con p::after {  
      border-radius: 43% 47% 44% 48%;  
      animation: rotate 10s infinite .5s linear;  
  }  
    
  @keyframes rotate {  
      0% {  
          transform: translate(-50%, -50%) rotate(0);  
      }  
      100% {  
          transform: translate(-50%, -50%) rotate(360deg);  
      }  
  }*/

/*4.17新增*/
  main {  
    width: 100%;  
    margin: auto;  
    padding: 59px 29px;  
    border-radius: 0.3em;  
    text-shadow: 0 1px 1px hsla(0, 0%, 100%, 0.3);  
    box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.3) inset, 0 0.3em 1em rgba(0, 0, 0, 0.12);  
    font: 150%/1.6 Baskerville, Palatino, serif;  
  }  
  main, main > div::before {  
    background: url(./img/index2.1.png) fixed 0 / cover;  
  }  
  ma > div::before {  
    content: "";  
    position: absolute;  
    top: 0;  
    right: 0;  
    bottom: 0;  
    left: 0;  
    z-index: -1;  
    filter: blur(10px);  
    margin: -30px;  
  }  
  ma > div {  
    font-style: italic;  
    color: #000;  
    padding: 30px;  
    hyphens: auto;  
    background: hsla(0, 0%, 100%, 0.5);  
    overflow: hidden;  
    position: relative;  
  }   
  .ma {
  color:white;
  text-align: center;
  }
  .content h3{
    text-align: left;
  }
