.contain {
    position: relative;
    height: 85vh;
    min-width: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

    .cbox h2{
        color: #000;
        margin: 20px;
    }
    
    .cbox p{
        color: #000;
        margin: 10px;
        font-size:16px;
        text-align: left;
    }
    
    
    .cbox:hover{
        scale:1.03;
        box-shadow: none;
    }

    .cbox{
        width: 900px;
        height: 600px;
    margin: auto;
    position: relative;
    display: inline-block;
    box-shadow: 5px 5px 10px 0px lightgray;
    border-radius: 10px;
    transition: 0.6s;
    background: #4ffc91;
    }

    #wrapper {
        width: 898px;
        height:400px;
        border: 2px solid blue;
        margin: 20px 0;
        overflow: auto;
    }
    
    
    .wrapper input {
        width: 50px;
        height: 20px;
    }
    
    .wrapper button {
        width: 50px;
        height: 20px;
    }

    .user input{
        width: 300px;
        height: 40px;
    }
