* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

h1,p,h2 {
    color: rgb(0, 0, 0);
}

.main {
    width: 1650px;
    /*调整大小*/
    margin: auto;
}

.contain {
    position: relative;
    height: 85vh;
    min-width: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.lside,.rside,.content,.contain {
        height: 85vh;
        text-align: center;
        color: #fff;
}

.lside {
    border: 2px solid black;
    border-radius: 10px 10px 10px 10px;

    order: 1;
    flex: 400px 0 0;
    background: #fff0b6;
}

.rside {
    border: 2px solid black;
    border-radius: 10px 10px 10px 10px;
    
    order: 3;
    flex: 400px 0 0;
    background: rgb(213, 240, 255);
}

.content {
    order: 2;
    flex: auto 1 0 ;
    background: #ffffff;
}

#wrapper {
    width: 846px;
    height:300px;
    border: 2px solid blue;
    margin: 20px 0;
    overflow: auto;
}


.wrapper input {
    width: 50px;
    height: 20px;
}

.wrapper button {
    width: 50px;
    height: 20px;
}

   
  .body {
      background-color: #f3f5f7;
  
  }
  .w {
      width: 1200px;
      margin: 10px auto;
      font-size: 20px;
      text-align: center;
  }
   
  /* 清除浮动代码 */
  .clearfix:before,.clearfix:after {
      content:"";
      display:table; 
    }
    .clearfix:after {
      clear:both;
    }
    .clearfix {
       *zoom:1;
    }   
   
  li{
     list-style: none; 
  }
  a{
      text-decoration: none;
      color:#030303;
  }
   
  /* 头部区域的样式 */
  .header {
      height: 42px;
      background: #ffffff;
  }
   
  /* logo部分 */
  .logo {
    float: left;
    width: 60px;
    height:60px;
 
}

  .logo img{
      width: 85%;
      height:85%;
      border-radius: 100%;
  }
   
  /* 导航栏部分 */
  .nav ul {
      float: left;
     
     margin-left:80px;
  }
   
   .nav li  {
          display:inline-block;
          height:42px;
          padding:0 10px;
          line-height: 42px;
          color:#050505;
           font-size: 18px;  
   }
   /* 伪类设置 */
   .nav li a:hover {
      color: #3fa9ff;
      border-bottom: 2px solid #00acfd;
       
   }
   
   /* 搜索框样式 */
  .search {
      float: left; 
      margin-left:80px;
  }
  /* 搜索框 */
  .search input {
      float: left; 
      width: 400px;
      height:40px;
      color:#e0cdbf;
      padding-left:15px;
      border-right: 0px;
      border:1px solid #00a4ff;
   
     /* 按钮 */
  }
 /* .buttow {
    
      width: 50px;
      height: 42px;
         
  }*/

  button {
    width:60px;
    height:42px ;
  }
   
  /* 用户区域 */
  .user {
       float: right; 
       margin-right:10px;
  }

  .user a:hover{
    color:#00a4ff;
  }
   
  /* banner部分样式 */
  .banner {
      height: 421px;
      /* 背景颜色 */
      background-color:#4ff768 ;  
  }
    
  /* 背景图片 */
  .banner .w {
       height:421px; 
      background: url(./img/index2.1.png) no-repeat top center;
  }
   
  /* 左侧导航栏部分 */
  .subnav {
      float:left;
      width: 190px;
      height: 421px;
      background-color: #4ff768;
  }
  .subnav ul li a {
      float:left;
      line-height: 45px;
      color: #000000;
      font-size:14px;
      padding:0 20px;
  }
   
  .subnav ul li span { 
      float:right;
      line-height: 45px;
      color: #fff;
      padding-right:20px;
  } 
  .subnav a:hover{
      color:#00a4ff;
  }
    
  /* 右侧用户区部分 */
  .course {
      float:right;
      width: 230px;
      height: 300px;
      margin-top:50px;
      background-color: #fff;
  }
   
   
  .bd {
      padding:0 20px;
  }
  .course h3 {
      height:48px;
      line-height:48px;
      font-weight:400px;
      color:#fff;
      text-align:center;
      background-color: #9bceea;
      
  }
   
  .course ul li {
      border-bottom: 1px solid #a5a5a5;
      padding:14px 0;
  }
   
  .course ul li h4 {
      font-size:16px;
      color: #4e4e4e;
     
  }
   
  .course ul li p {
      font-size:12px;
      color:#a5a5a5;
  }
   
  .more {
      display: block;
      height:38px;
      line-height: 38px;
      text-align:center;
      color:#42aaff;
      font-size:16px;
      font-weight: 700;
      border: 1px solid #00a4ff;
      margin:5px;
  }
   
  .more:hover{
    color:#000;
  }
  /* 精品推荐部分 */
  .goods {
      height:60px;
      background-color: #fff;
      box-shadow: 2px 3px 3px rgba(0,0,0,0.1);
      margin-top:10px;
  }
   
  /* 标题部分 */
  .goods h3 {
      display: block;
      float:left;
      line-height:60px;
      font-size:16px;
      color:#00a4ff;
       margin-left:30px; 
  }
   
  /* 精品导航栏部分 */
  .goods ul {
       float: left; 
      margin-left:30px;
  }
   
  .goods ul li {
      display: inline-block;
      line-height: 60px;
     
  }
  .goods ul li a {
      padding:0 30px;
      font-size: 16px;
      color:#050505;
      border-left: 1px solid #cccccc;
  }

  .goods ul li a:hover {
    color: #3fa9ff;
 }
   
   
  .mod {
         float:right;
         line-height: 60px;
         font-size: 16px;
         color:#00a4ff;
         padding-right:30px;
  } 
   
  .box h3 {
     float:left;
     font-size: 20px;
     color:#494949;
  }
   
  .box a {
      float:right;
      font-size: 12px;
      color:#a5a5a5;
      margin:10px 30px 0 0;
  }
      .box-bd ul {
          width:1225px ; 
      }
   
      .footer {
        width: 100%;
        margin: auto;
          height:300px;
          background-color: #f5eded;
      }

      .footer .w {
          padding-top:35px;
      }
       
      .copyright {
          float: left;
          margin: auto;
      }
      .copyright p {
         
          font-size: 12px;
          color:#666666;
          margin:20px 0 15px 0;
       
      }
       
      .cc {
          
          display: block;
          width: 118px;
          height:33px;
          border :1px solid #00a4ff;
          text-align: center;
          line-height: 33px;
          font-size: 16px;
          color:#00a4ff;
       
      }
      .cc:hover{
        color:#000;
      }
    
      .links {
          float:right;
          margin-top: 5px;
      }
      .links dl {
          float: left;
          display: block;
          margin-left: 100px;
      }
      .linkd  dl dt {
          font-size: 16px;
          color:#333;
      }
       
      .links dl dd a {
          font-size: 12px;
          color: #333;
      }

      .container {
        background: url(./img/logo1.1.png) no-repeat top center;
        position: relative;
        overflow: hidden;
        width: 124px;
        height: 124px;
        overflow: hidden;
        margin: auto;
        border-radius: 50%;
    }
    
    .shadow {
        display:block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 120px;
        height: 120px;
        line-height: 120px;
        border-radius: 50%;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        box-shadow: 60px -60px 0 2px #e91e63, -60px -60px 0 2px #e91e63,
            -60px 60px 0 2px #e91e63, 60px 60px 0 2px #e91e63;
        text-align: center;
        
    }
    .shadow:hover {
            animation: border .5s ease forwards;
        }
    
    @keyframes border{
      0% {
        box-shadow: 60px -60px 0 2px #e91e63, -60px -60px 0 2px #e91e63, -60px 60px 0 2px #e91e63, 60px 60px 0 2px #e91e63, 0 0 0 2px transparent;
      }
      25% {
        box-shadow: 0 -125px 0 2px #e91e63, -60px -60px 0 2px #e91e63, -60px 60px 0 2px #e91e63, 60px 60px 0 2px #e91e63, 0 0 0 2px #fff;
      }
      50% {
        box-shadow: 0 -125px 0 2px #e91e63, -125px 0px 0 2px #e91e63, -60px 60px 0 2px #e91e63, 60px 60px 0 2px #e91e63, 0 0 0 2px #fff;
      }
      75% {
        box-shadow: 0 -125px 0 2px #e91e63, -125px 0px 0 2px #e91e63, 0px 125px 0 2px #e91e63, 60px 60px 0 2px #e91e63, 0 0 0 2px #fff;
      }
      100% {
        box-shadow: 0 -125px 0 2px #e91e63, -125px 0px 0 2px #e91e63, 0px 125px 0 2px #e91e63, 120px 40px 0 2px #e91e63, 0 0 0 2px #fff;
      } 
    }
    
    
    .con {
        height:100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /*transform: rotateX(25deg) rotateY(-25deg);*/
        margin: auto;
        background-color: #e9ebee;
    }
    
    .con p {
        text-align: center;
        display: block;
        font-size: 10vh;
        letter-spacing: 0.1em;
        max-height: 10vh;
        margin-bottom: 50px;
    }
    
    .ab {
        color: #4ff768;
        text-shadow: 0 0 0.3em rgba(200, 200, 255, 0.3), 0.04em 0.04em 0 #112,
            0.045em 0.045em 0 #88e, 0.09em 0.09em 0 #112, 0.095em 0.095em 0 #66c,
            0.14em 0.14em 0 #112, 0.145em 0.145em 0 #44a;
        animation: pulsea 300ms ease infinite alternate;
    }
    
    @keyframes pulsea {
        0% {
            text-shadow: 0 0 0.3em rgba(200, 200, 255, 0.3), 0.04em 0.04em 0 #112,
                0.045em 0.045em 0 #88e, 0.09em 0.09em 0 #112, 0.095em 0.095em 0 #66c,
                0.14em 0.14em 0 #112, 0.145em 0.145em 0 #aaf;
        }
        50% {
            text-shadow: 0 0 0.3em rgba(200, 200, 255, 0.3), 0.04em 0.04em 0 #112,
                0.045em 0.045em 0 #88e, 0.09em 0.09em 0 #112, 0.095em 0.095em 0 #aaf,
                0.14em 0.14em 0 #112, 0.145em 0.145em 0 #44a;
        }
        75% {
            text-shadow: 0 0 0.3em rgba(200, 200, 255, 0.3), 0.04em 0.04em 0 #112,
                0.045em 0.045em 0 #aaf, 0.09em 0.09em 0 #112, 0.095em 0.095em 0 #66c,
                0.14em 0.14em 0 #112, 0.145em 0.145em 0 #44a;
        }
        100% {
            text-shadow: 0 0 0.3em rgba(200, 200, 255, 0.4), 0.04em 0.04em 0 #112,
                0.045em 0.045em 0 #88e, 0.09em 0.09em 0 #112, 0.095em 0.095em 0 #66c,
                0.14em 0.14em 0 #112, 0.145em 0.145em 0 #44a;
        }
    }


    form {
        margin-bottom: 20px;
    }
    form label{
        color: #000;
    }

    .content input[type="text"], input[type="password"], textarea {
        width: 70%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        border-radius: 5px;
    }

    .content button {
        background-color: #e0f3e0;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 70%;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .content button:hover {
        background-color: #52e559;
    }

    #login{
        width: 50px;
        height: 40px;
    }

    #regis{
        width: 50px;
        height: 40px;
    }    

    .content h1 {
        background-color: #64adfa;
        color: white;
        text-align: center;
        padding: 20px;
        width: 70%;
        margin: auto;
        border-radius: 20px 20px 20px 20px;
    }
    .content p,h3,h2{
        color: #000;
    }
