/*contain区域*/
.contain {
    position: relative;
    height: 85vh;
    min-width: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.lside,.rside,.content,.contain {
        height: 85vh;
        text-align: center;
}

.lside {
    border: 2px solid black;
    border-radius: 10px 10px 10px 10px;

    order: 1;
    flex: 400px 0 0;
    background: #fff0b6;
}

.rside {
    border: 2px solid black;
    border-radius: 10px 10px 10px 10px;
    
    order: 3;
    flex: 400px 0 0;
    background: rgb(213, 240, 255);
}

.content {
    order: 2;
    flex: auto 1 0 ;
    background: #ffffff;
}

.content h1 {
    background-color: #64adfa;
    color: white;
    text-align: center;
    padding: 20px;
    width: 70%;
    margin: auto;
    border-radius: 20px 20px 20px 20px;
}
.content p,h3,h2{
    color: #000;
}

.content input[type="text"], input[type="password"], textarea {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

.content button {
    background-color: #e0f3e0;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 70%;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.content button:hover {
    background-color: #52e559;
}


/*表单环节*/
form {
    margin-bottom: 20px;
}
form label{
    color: #000;
}


#wrapper {
    width: 846px;
    height:300px;
    border: 2px solid blue;
    margin: 20px 0;
    overflow: auto;
}


.wrapper input {
    width: 50px;
    height: 20px;
}

.wrapper button {
    width: 50px;
    height: 20px;
}

    #login{
        width: 50px;
        height: 40px;
    }

    #regis{
        width: 50px;
        height: 40px;
    }    
