#inp {
    width:200px;
    height:40px;
 }     
 #check,#next {
    width:60px;
    height:40px;
 }
 #joke{
    width: 200px;
    height: 40px;
 }  

/*
.contain {
    position: relative;
    height: 85vh;
    min-width: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.lside,.rside,.content,.contain {
        height: 85vh;
        text-align: center;
}


.lside {
    border: 2px solid black;
    border-radius: 10px 10px 10px 10px;

    order: 1;
    flex: 400px 0 0;
    background: #fff0b6;
}
*/

.lside{
    margin-right:100px;
}


.rside {
    border-radius: 10px 10px 10px 10px;
    order: 3;
    flex: 400px 0 0;
    background: rgb(213, 240, 255);
}
.rside a:hover{
    color: #3fa9ff;
      border-bottom: 2px solid #00acfd;

} 
.content {
    order: 2;
    flex: auto 1 0 ;
    background: #ffffff;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 830px;
    margin: auto;
}

.c-box{
    width: 200px;
    height: 200px;
margin: 20px;
position: relative;
display: inline-block;
box-shadow: 5px 5px 10px 0px lightgray;
border-radius: 10px;
transition: 0.3s;
background: #4ffcc3;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
}

.c-box h2{
    color: #000;
    margin: 20px;
}

.c-box p{
    color: #000;
    margin: 10px;
    font-size:small;
}

.c-box h2::after{
    content: '';
    background: rgb(174, 206, 255);
    width: 180px;
    height:4px;
    position: absolute;
    left:5%;
    bottom: 140px;
}

.c-box:hover{
    scale:0.97;
    box-shadow: none;
}

#wrapper {
    width: 846px;
    height:300px;
    border: 2px solid blue;
    margin: 20px 0;
    overflow: auto;
}


.wrapper input {
    width: 50px;
    height: 20px;
}

.wrapper button {
    width: 50px;
    height: 20px;
}

